.contact-wrapper {
  padding-top: 4rem !important;
  padding-bottom: 15rem;
  /* padding: 6rem 2rem 15rem; */
  display: flex;
  justify-content: center;
}

.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  /* max-width: 1200px;
  width: 100%; */
  align-items: flex-start;
}

/* LEFT SIDE */
.contact-info-section {
  color: #1a1a1a;
}

.contact-info-section .c-left .primaryText {
  margin-bottom: 0.8rem;
}

.contact-description {
  color: #666;
  line-height: 1.6;
  margin-bottom: 2.5rem;
  padding-top: 1.5rem;
}

.contact-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 2rem; 
  padding-bottom: 4rem;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-box {
  width: 45px;
  height: 45px;
  background: var(--primary);
  color: var(--black);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.contact-item h4 {
  margin: 0;
  color: var(--black);
  font-size: 1rem;
  font-weight: 600;
}

.contact-item p {
  color: #666;
  margin: 0.3rem 0 0;
}

hr{
  width: 95%;
  height: 2px;
  background-color: var(--black);
  justify-self: center;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-top: 2.5rem;
}

.social-media h4 {
  color: var(--black);
  margin-bottom: 0;
  white-space: nowrap;
}

.social-icons {
  display: flex;
  gap: 1rem;
  color: var(--primary);
  font-size: 1.3rem;
  cursor: pointer;
}

.social-icons svg:hover {
  color: var(--primary);
}

/* RIGHT SIDE */
.contact-form-section {
  background: #dce0e5;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(68,127,152,0.5);
}

.form-row {
  display: flex;
  gap: 1rem;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
}

.form-group label {
  font-size: 0.9rem;
  color: #444;
  margin-bottom: 0.4rem;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.7rem;
  border-radius: 5px;
  border: 2px solid #b7b7b7;
  outline: none;
  background: #dce0e5;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: var(--primary);
}

.submit-btn {
  background: var(--primary);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.7rem 1.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

.submit-btn:hover {
  background: var(--dark-blue);
}

@media (max-width: 900px) {
  .contact-grid {
    grid-template-columns: 1fr;
  }
  .contact-items {
    grid-template-columns: 1fr;
  }
}
