
.r-container {
  gap: 2rem;
  position: relative;
  overflow: hidden;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.r-head{
  margin-bottom: 2rem;
}
.r-card {
  gap: 0.6rem;
  padding: 1rem;
  border-radius: 10px;
  max-width: max-content;
  margin: auto;
  transition: all 300ms ease-in;
}

.r-top-row {
  display: flex;
  justify-content: space-between; /* price left, heart right */
  align-items: center;
  width: 100%;
  max-width: 15rem;
}

.heart-icon {
  font-size: 1.4rem;
  color: #ccc;
  cursor: pointer;
  transition: color 0.3s ease;
}

.heart-icon.active {
  color: red;
}

.r-price {
  font-size: 1.2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}


.r-card > img {
  width: 100%;
  max-width: 15rem;
}
.r-card > :nth-child(2) {
  font-size: 1.2rem;
  font-weight: 600;
}
.r-card > :nth-child(3) {
  font-size: 1.5rem !important;
}
.r-card > :nth-child(4) {
  font-size: 0.7rem;
  width: 15rem;
}

.r-card:hover {
  scale: 1.025;
  cursor: pointer;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(185, 219, 225, 1) 217.91%
  );
  box-shadow: 0px 72px 49px -51px rgba(68, 127, 152, 0.21);
}
.swiper-horizontal{
  overflow: visible;
}
.r-buttons{
  position: absolute;
  gap: 1rem;
  top: -4rem;
  right: 0;
}
.r-buttons button{
  font-size: 1.2rem;
  padding: .2rem .8rem;
  color: var(--dark-blue);
  border: none;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
.r-buttons>:nth-child(1)
{
  background-color: var(--secondary);
}
.r-buttons>:nth-child(2)
{
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
}
.r-buttons button:hover {
  transform: scale(1.15);
}


@media (max-width: 640px) {
  .r-head{
  align-items: center;
  }
  .r-buttons{
    position: initial;
  }
}
