.dashboard-wrapper {
  display: flex;
}

.admin-dashboard-content {
  margin-left: 240px;
  padding: 90px 30px;
  width: 100%;
}

.cards-row {
  display: flex;
  gap: 20px;
}

.card {
  padding: 20px;
  border-radius: 12px;
  color: white;
  width: 230px;
}

.blue { background: #3b82f6; }
.green { background: #22c55e; }
.pink  { background: #ec4899; }
.red   { background: #ef4444; }

.charts-row {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.chart-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  height: 200px;
  flex: 1;
  border: 1px solid #eee;
}

.bottom-row {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.projects-card,
.orders-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  flex: 1;
  border: 1px solid #eee;
}
