/* PAGE LAYOUT */
.ad-content{
  padding-bottom: 12rem;
  display: flex;
  justify-content: center;
}

.ads-container {
  margin-top: 2rem;
}

.process-header {
  margin-bottom: 3rem;
  width: 100%;
  text-align: center;
}

.ads-subtext{
    max-width: 720px;
}

/* Progress Steps */
.progress-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.steps {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.step {
  text-align: center;
}

.step span {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  background: #dce0e5;
  font-weight: bold;
  border: 2px solid var(--primary);
}

.step.active span {
  background: var(--dark-beige);
  color: white;
}

.line {
  width: 80px;
  height: 3px;
  background: #ddd;
  margin-bottom: 1.5rem;
}

.l-complete{
    background: var(--primary);
}

/* Layout */
.postads-layout {
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
  width: 100%;
  margin-top: 2rem;
}

.verify-section {
  max-width: 580px;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* FORM BOXES */
.form-box {
  background: #dce0e5;
  padding: 1.6rem;
  border-radius: 12px;
  margin-bottom: 1.8rem;
  box-shadow: 0 4px 10px rgba(68,127,152,0.5);
}

.form-group {
  margin-bottom: 1.3rem;
}

.form-group label {
  font-size: 0.9rem;
  color: #393939;
  margin-bottom: 0.5rem;
  text-align: start;
}
.form-group .radio-btn-label{
  margin-bottom: 1rem !important;
}

.form-group .category-options{
  margin-bottom: 1rem;
}

.form-group select,
.form-group input,
.form-group textarea {
  /* width: 100%; */
  padding: 0.9rem;
  border-radius: 6px;
  border: 2px solid #ccc;
  font-size: 1rem;
  outline: none;
  background: #dce0e5;
}

.form-box input:focus {
  border-color: var(--primary);
  box-shadow: 0 4px 10px rgba(68,127,152,0.5);
}

.negotiable-wrap label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.negotiable-wrap input[type="checkbox"] {
  width: 18px;
  height: 18px;
}

textarea {
  height: 120px;
}

/* Category Options */
.category-options {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 2rem;
}

.category-options label {
  display: inline-flex; /* align radio and text horizontally */
  align-items: center;   /* vertically center the radio and text */
  gap: 0.2rem;           /* space between radio button and text */
  cursor: pointer;       /* pointer cursor on hover */
  margin-bottom: 0.5rem; /* spacing between rows */
}


/* Images Grid */
.images-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.image-box {
  height: 110px;
  border: 2px dashed #c9b8f9;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #777;
  cursor: pointer;
}

.preview-img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* Keeps image inside box without stretching */
  border-radius: 8px;
}

/* Contact Information Box */
.contact-box {
  background: #dce0e5;
  width: 100%;
  padding: 1.6rem;
  border-radius: 12px;
  border: 1px solid #e3def3;
  box-shadow: 0 4px 10px rgba(68,127,152,0.5);
  text-align: center;
}

.form-box h3{
    margin-bottom: 2rem;
}

.note-text{
  /* margin: 0 auto; */
  color: #777;
  font-size: 0.95rem;
  padding-top: 0.5rem;
  /* line-height: 1.6; */
}
/* .warning-msg {
  font-size: 0.85rem;
  color: #ff4e4e;
  margin-top: 6px;
} */

.verify-btn {
  display: inline-block;
  color: var(--black);
  width: 100%;
  margin-top: 1.2rem;
  padding: 0.9rem;
  /* text-align: center; */
}

/* Submit Button */
.post-btn {
  width: 30%;
  padding: 0.9rem;
  font-size: 1rem;
  margin-top: 1rem;
  color: var(--black);
}
